{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'home/includes/_ga.html' %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{% static 'home/favicon.ico' %}"/>
	<title>Ishant Dahiya</title>
	<meta name="description" content="Ishant Dahiya" />
	<meta name="keywords" content="freelancer, developer, website, python, bootstrap, automation, scripting, one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animationm machine learning, ai, ishant, dahiya, ishant dahiya, full stack web developer, react, nsit, nsut" />
	<meta name="author" content="Ishant Dahiya" />
	<meta name="theme-color" content="#1f1f20">

	<!-- CSS -->
	{% comment %} <link rel="stylesheet" href="{% static "home/bootstrap/css/bootstrap.min.css"%}"> {% endcomment %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

	<!--[if lte IE 7]> 
		<script src="home/js/icons-lte-ie7.js"></script>
	<![endif]-->

	<!-- Magnific-popup lightbox -->
	<link href="{% static "home/css/magnific-popup.min.css"%}" rel="stylesheet">

	<!-- Owl Carousel -->
	<link href="{% static "home/css/owl.carousel.min.css"%}" rel="stylesheet">

	<!-- Animate css -->
	<link href="{% static "home/css/animate.min.css"%}" rel="stylesheet">


	<!-- Custom styles CSS -->
	<link href="{% static "home/css/theme-blue.min.css"%}" rel="stylesheet" media="screen">
	<style>
		.form-control:focus {
			color: white !important;
			background-color: #fff;
			border-color: #80bdff;
			outline: 0;
			box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
		}
		.form-control{
			color: white !important;
		}
	</style>
</head>
<body>

	{% include 'home/includes/_preloader.html' with pos="center" %}
    {% include 'home/includes/_navbar.html' %}


	{% block content %}
    {% endblock content %}

	<!-- Contact end -->

	{% include 'home/includes/_footer.html' %}

	<!-- Scroll-up -->

	<div class="scroll-up">
		<a href="#home" id="scroll-up"><i class="fas fa-arrow-up"></i></a>
	</div>

	<!-- Javascript files -->

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
	<script src="{% static "home/js/jquery.magnific-popup.min.js"%}"></script>
	<script src="{% static "home/js/imagesloaded.pkgd.js"%}"></script>
	<script src="{% static "home/js/tilt.jquery.js"%}"></script>
	<script src="{% static "home/js/jquery.shuffle.min.js"%}"></script>
	<script src="{% static "home/js/owl.carousel.min.js"%}"></script>
	<script src="{% static "home/js/jquery.fitvids.js"%}"></script>
	<script src="{% static "home/js/jquery.sticky.js"%}"></script>
	<script src="{% static "home/js/wow.min.js"%}"></script>
	<script src="{% static "home/js/typed.js"%}"></script>
	<script src="{% static "home/js/parallax.js"%}"></script>

    <!--PARTICLES ANIMATE JS-->
    <script src="{% static "home/js/particles.js"%}"></script>  
    <script src="{% static "home/js/particles.app.js"%}"></script> 

	<!-- Custom scripts -->
	<script src="{% static "home/js/custom.js"%}"></script>
	<script src="{% static "home/js/custom-shuffle-init.js"%}"></script>
	<script src="{% static "home/js/form.js" %}"></script>
	<script>
		$("#response-div").hide();
		$("#loading-div").hide();
	</script>
</body>
</html>