{% extends 'home/base.html' %}
{% load static %}


{% block content %}

	<!-- Home Banner : Start -->

	<section id="home" class="home-banner module-image js-height-full">
		
		<div class="hero-banner-content d-flex align-items-center">
			<div class="container">
					<div class="d-table">
						<div class="hero-banner-left d-table-cell w-60 v-align-middle">
							<div class="intro">
								<span>Hi There</span>
								<h1>I am <span>Ishant Dahiya</span></h1>
								<p>A <span class="typed" data-elements="Full Stack Developer.,Dev Ops Engineer.,Python Automation Specialist."></span></p>
							</div>
						</div>
						<div class="hero-banner-right d-table-cell w-40 v-align-middle">
							<div class="hero-right" id="scene">
								<img data-depth="0.5" src="{% static "home/images/about.jpeg"%}" alt="side-image">
								<span data-depth="1"></span>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>

		<canvas class="background"></canvas>
	
	</section>

	<!-- Home Banner : End -->

	<!-- Portfolio start -->

	<section id="portfolio" class="module module-gray">
		<div class="container">
			<div class="row">

				<div class="module-header wow fadeInUp">
					<h2 class="module-title"> My works </h2>
					<div class="module-line"></div>
				</div>

			</div><!-- .row -->

			<!-- Portfolio Filter start-->

			<div class="row">

				<div class="col-sm-12">

					<ul id="filter" class=" wow fadeInUp">
						<li class="active" data-group="all">All</li>
						{% for c_ in pcs %}
							<li data-group="{{c_.abbr}}">{{c_.name}}</li>
						{% endfor %}
					</ul>

				</div>

			</div><!-- .row -->

			<!-- Portfolio Filter end -->

			<ul class="list-items-container">
			{% for p in projects %}
				<li class="list-item" data-groups="all {{p.category.abbr}}">
					<figure>
						<img src="{{p.image.url}}" alt="{{p.name}}">
						<figcaption>
							<a href="{{p.image.url}}" class="simple-ajax-popup"></a>
							<div class="caption-inner">
							{% if p.visit_url %}
								<h3 class="portfolio-item-title">{{p.name}} <a href="{{p.visit_url}}" target="_blank"></a> </h3>
							{% else %}
								<h3 class="portfolio-item-title">{{p.name}}</h3>
							{% endif %}
								<div class="portfolio-item-desc">{{p.description}}</div>
							</div>
						</figcaption>
					</figure>
				</li>
			{% endfor %}
			</ul>
		</div>
	</section>

	<!-- Portfolio end -->

	<!-- Services start -->

	<section id="services" class="module">
		<div class="container">

			<div class="module-header wow fadeInUp">
				<h2 class="module-title"> My Services </h2>
				<div class="module-line"></div>
			</div>

			<div class="row">

				<div class="col-md-6 col-lg-4">
					<div class="iconbox wow fadeInUp">
						<div class="iconbox-icon">
							<i class="fas fa-desktop"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Web Design</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="iconbox wow fadeInUp">
						<div class="iconbox-icon">
							<i class="fas fa-code"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Web Development</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="iconbox wow fadeInUp" data-wow-delay=".2s">
						<div class="iconbox-icon">
							<i class="fab fa-sketch"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Logo Design</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-4">

					<div class="iconbox wow fadeInUp" data-wow-delay=".4s">
						<div class="iconbox-icon">
							<i class="far fa-comments"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Marketing</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>

				</div>

				<div class="col-md-6 col-lg-4">

					<div class="iconbox wow fadeInUp" data-wow-delay=".6s">
						<div class="iconbox-icon">
							<i class="fas fa-palette"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Design</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>

				</div>

				<div class="col-md-6 col-lg-4">

					<div class="iconbox wow fadeInUp" data-wow-delay=".8s">
						<div class="iconbox-icon">
							<i class="fas fa-rocket"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Branding</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Services end -->


	<!-- Testimonial start -->

	<div id="testimonial" class="module module-gray text-center">
		<div class="container">
			
			<div class="module-header wow fadeInUp">
				<h2 class="module-title"> Testimony </h2>
				<div class="module-line"></div>
			</div>

			<div class="row">

				<div class="col-md-8 offset-md-2 wow fadeInUp">

					<div class="module-header wow fadeInUp">
						<div class="module-icon"><i class="fas fa-quote-left"></i></div>
					</div>

					<div class="testimonials owl-carousel wow fadeInUp">
						<div class="single-testimonials">
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
							<span>Jon Doe, Web Developer</span>
						</div>
						<div class="single-testimonials">
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
							<span>Jon Doe, Web Developer</span>
						</div>
						<div class="single-testimonials">
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
							<span>Jon Doe, Web Developer</span>
						</div>
					</div>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</div>

	<!-- Testimonial end -->

	<!-- Blog start -->

	{% comment %} <section id="blog" class="module blog ">
		<div class="container">

			<div class="module-header wow fadeInUp">
				<h2 class="module-title"> Articles </h2>
				<div class="module-line"></div>
			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="blogList wow fadeInUp">
						<div class="blogList-img">
							<img src="home/images/blog1.jpg" alt="Blog Desc">
						</div>
						<div class="blogList-desc">
							<h3>10 tips for drawing with coloured pencils</h3>
							<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...</div>
							<a href="#">Read More</a>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="blogList wow fadeInUp">
						<div class="blogList-img">
							<img src="home/images/blog2.jpg" alt="Blog Desc">
						</div>
						<div class="blogList-desc">
							<h3>The single greatest gift to get your friend who always travels</h3>
							<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...</div>
							<a href="#">Read More</a>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<a class="custom-btn" href="#">VIEW MORE</a>
				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section> {% endcomment %}

	<!-- Blog end -->

	{% comment %} <!-- Hire start-->

	<div class="module module-gray text-center">

		<div class="module-header wow fadeInUp">
			<h2 class="module-title">I am available for Freelancer
			</h2>
			<div class="module-line"></div>
		</div>

		<button class="custom-btn">Hire Me</button>

	</div>

	<!-- Hire end --> {% endcomment %}

	<!-- Contact start -->

	<section id="contact" class="module ">
		<div class="container">

			<div class="module-header wow fadeInUp">
			<div id="ask-div">
				<h2 class="module-title">I am available for Freelancing
				</h2>
					<h2 class="module-title"> Request a quote </h2>
			</div>
			<div id="loading-div">
				<h2 class="module-title">Submitting your response</h2>
				{% include 'home/includes/_preloader.html' with pos="contact" %}
			</div>
			<div id="response-div">
			<h2 class="module-title">Thank you for your response</h2>
			<p class="module-title" style="font-size: 25px;">I'll get back to you within 24 hours.</p>
			</div>
				<div class="module-line"></div>
			</div>


			<div class="row">

				<div class="col-md-6 offset-md-3">
					<form id="contact-form" action="/response/">
					{% csrf_token %}
						<div class="ajax-hidden">
							<div class="form-group wow fadeInUp">
								<label class="sr-only" for="c_name">Name</label>
								<input type="text" id="c_name" class="form-control" name="name" placeholder="Name" required>
							</div>

							<div class="form-group wow fadeInUp" data-wow-delay=".1s">
								<label class="sr-only" for="c_email">Email address</label>
								<input type="email" id="c_email" class="form-control" name="email" placeholder="E-mail" required>
							</div>

							<div class="form-group wow fadeInUp" data-wow-delay=".2s">
								<textarea class="form-control" id="c_message" name="message" rows="7" placeholder="Your message" required></textarea>
							</div>

							<button type="submit" class="btn btn-block custom-btn wow fadeInUp" data-wow-delay=".3s">Send Message
							</button>
						</div>
						<div class="ajax-response"></div>
					</form>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

{% endblock content %}