<div class="menu-wrapper">
    <button class="hamburger-menu">
        <span class='hamburger'></span>
        <span class='hamburger-overlay'></span>	
    </button>
    <div class="Menu ham-tilt">
        <ul class="Menu-list" >
            <li class="Menu-list-item">
                <a href="#home">Home
                    <span class="Mask"><span>Home</span></span>
                    <span class="Mask"><span>Home</span></span>
                </a>
            </li>
            <li class="Menu-list-item">
                <a href="#portfolio">Work
                    <span class="Mask"><span>Work</span></span>
                    <span class="Mask"><span>Work</span></span>
                </a>
            </li>
            <li class="Menu-list-item">
                <a href="#services">Services
                    <span class="Mask"><span>Services</span></span>
                    <span class="Mask"><span>Services</span></span>
                </a>
            </li>
            <li class="Menu-list-item">
                <a href="#blog">Blog
                    <span class="Mask"><span>Blog</span></span>
                    <span class="Mask"><span>Blog</span></span>
                </a>
            </li>
            <li class="Menu-list-item">
                <a href="#contact">Contact
                    <span class="Mask"><span>Contact</span></span>
                    <span class="Mask"><span>Contact</span></span>
                </a>
            </li>
        </ul>
    </div>
</div>